
@{
    ViewData["Title"] = "Index";
}

<h2>Use this page to test the API</h2>

<div>
	<ul>
		<li><a asp-controller="test" asp-action="GetAllValues">Get All Values</a></li>
		<li><a asp-controller="test" asp-action="GetById">Get By Id</a></li>
		<li><a asp-controller="test" asp-action="Create">Create new object</a></li>
		<li><a asp-controller="test" asp-action="Update">Update Existing Object</a></li>
		<li><a asp-controller="test" asp-action="Delete">Delete existing Object</a></li>
	</ul>
</div>

